extends layout

block content

    // includes needed for autocomplete
    script(src='/jquery-typeahead/jquery.typeahead.min.js')
    link(rel='stylesheet', href='/jquery-typeahead/jquery.typeahead.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    // Gets data (all movie titles) for autocomplete for search box
    script.
        $(function() {
            $('.search').typeahead({
                minLength: 1,
                searchOnFocus: true,
                order: "asc",
                source: {
                    data: !{JSON.stringify(movie_names)} // movie names is i.e: ["Alien(1979)", "The Dark Knight(2008)"]
                },
                callback: {
                    onSubmit: function (node, form, item, event) {
                        event.preventDefault();
                        console.log(node + form + item + event);
                    }
                }
            });
        });


    div.container
        // The search box
        form
            div.typeahead__container
                div.typeahead__field
                    span.typeahead__query
                        input.search(name='q' type='search' placeholder='Movie Name' autocomplete="off")
                    span.typeahead__button.form-group-lg
                        button(type='submit') Search
